<div class="container">
    <section>
        <h2>Create your own room</h2>
        <form action="">
            <!--class sr-only, do label not visible to user, but the search engines can find-->
            <label class="sr-only" for="room-pass">Enter a password</label>
            <input id="room-pass" type="password" placeholder="Enter a password">
            <button>
                <img src="/room-users.svg" alt="Entrar na sala">
                Create room
            </button>
        </form>
    </section>
</div>
